{% extends 'macro_mate/layout.html' %}
{% load staticfiles %}
{% comment %} Add custom filters for form CSS below {% endcomment %}
{% load filters %}

{% comment %} Include CSS and JS in BASE {% endcomment %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/selectize.js/selectize.css' %}">
<link rel="stylesheet" href="{% static 'css/selectize.js/selectize.bootstrap3.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'js/selectize.js/selectize.min.js' %}"></script>
<script src="{% static 'js/add_meal.js' %}"></script>
{% endblock %}

{% block title_block %}
Add Meal
{% endblock %}

{% block header_block %}
Add New Meal
{% endblock %}

{% block body_block %}
<form id="meal_form" method="post" action="/macro_mate/add_meal/">
    <div class="row">


        <div class="col-12 col-md-6">
            <h2 class="pb-2 my-4 mx-2 border-bottom">
                Information
            </h2>


            {% csrf_token %}

            {% comment %} Form fields will be on the right, with analysis window {% endcomment %}
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}

            {% comment %} Don't include image field here {% endcomment %}
            {% if field.html_name != 'image' %}

            <div class="form-group ">
                {% for error in field.errors %}
                <div>
                    <span class="text-danger"> {{error}} </span>
                </div>
                {% endfor %}
                {{field.label}}

                {% if field.html_name != 'categories' %}
                {{ field|addcss:'form-control' }}
                {% else %}
                {{field|addcss:'list-unstyled'}}
                {% endif %}

                {% if field.help_text %}
                <small id="emailHelp" class="form-text text-muted"> {{ field.help_text }} </small>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}


        </div>
        <div class="col-12 col-md-6">
            <h2 class="pb-2 my-4 mx-2 border-bottom">
                Image
            </h2>
            <img id="image_holder" src="{% static 'images/placeholder.png' %}" class="img-fluid" alt="Responsive image">
            {{form.image}}
            <h2 class="pb-2 my-4 mx-2 border-bottom">
                Nutritional Analysis
            </h2>
            <div>
                No analysis performed.
            </div>
            <div id="ingredient_error" class="text-danger">
                Ingredient parsing error.
                Try with different names / quantities and analyse again if you are unhappy.
                Ensure all ingredients are on seperate lines.
            </div>

            {% include 'macro_mate/ingredient_table.html' with table_id="ingredient_table" table_title="Ingredients Detected" %}

            {% include 'macro_mate/nutrition_table.html' with table_id="nutrient_table" table_title="Nutritional Analysis" calories_quantity="4" calories_unit="kcal" fat_quantity="3000" fat_unit="g" protein_quantity="3000" protein_unit="g" carbs_quantity="3402" carbs_unit="g"%}



        </div>


    </div>
    <div class="row">
        <input class="btn btn-success" type="submit" name="submit" value="Add Meal" />
    </div>

</form>


{% endblock %}