{% extends 'macro_mate/base.html' %}
{% load staticfiles %}
{% comment %} Add custom filters for form CSS below {% endcomment %}
{% load filters %}

{% comment %} Include CSS and JS specific to this page (selectize.js / add_meal) {% endcomment %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/selectize.js/selectize.css' %}">
<link rel="stylesheet" href="{% static 'css/selectize.js/selectize.bootstrap3.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'js/selectize.js/selectize.min.js' %}"></script>
<script src="{% static 'js/add_meal.js' %}"></script>
{% comment %} We add a small script tag here to avoid hard-coding the tags api URL in javascript {% endcomment %}
<script>
    $(document).ready(function () {
        setupAnalysisApiFunctionality("{% url 'api:nutrition' %}");
        setupTagApiFunctionality("{% url 'api:tags' %}");
    })
</script>
{% endblock %}

{% comment %} Page Title {% endcomment %}
{% block title_block %}
Add Meal
{% endblock %}

{% comment %} Page Header {% endcomment %}
{% block header_block %}
Add New Meal
{% endblock %}

{% block body_block %}

{% comment %} Form encapsulates whole view. Responsive layout. {% endcomment %}
<form id="meal_form" enctype="multipart/form-data" method="post"
    action="{% url 'macro_mate:add_meal' %}{% if meal_id %}{{meal_id}}{% endif %}">
    {% csrf_token %}

    {% comment %} Hidden form fields {% endcomment %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}

    <div class="row">
        {% comment %} Form on left, except Image {% endcomment %}
        <div class="col-12 col-md-6">
            <h2 class="pb-2 my-4 mx-2 border-bottom">
                Information
            </h2>

            {% comment %} Loop through fields, except image {% endcomment %}
            {% for field in form.visible_fields %}
            {% if field.html_name != 'image' %}

            <div class="form-group ">

                {% for error in field.errors %}
                <div>
                    <span class="text-danger"> {{error}} </span>
                </div>
                {% endfor %}

                {{field.label}}

                {% comment %} Custom css for categories {% endcomment %}
                {% if field.html_name == 'categories' %}

                <div class="mt-1">
                    {{field|addcss:'list-unstyled form-check-inline'}}
                </div>

                {% else %}

                {{ field|addcss:'form-control' }}

                {% endif %}

                {% comment %} Help text with small formatting {% endcomment %}
                {% if field.help_text %}
                <small id="emailHelp" class="form-text text-muted"> {{ field.help_text }} </small>
                {% endif %}

            </div>

            {% endif %}
            {% endfor %}

        </div>

        {% comment %} Image and analysis on right {% endcomment %}
        <div class="col-12 col-md-6">
            <h2 class="pb-2 my-4 mx-2 border-bottom">
                Image
            </h2>

            <img id="image_holder" src="{% static 'images/placeholder.png' %}" class="img-fluid" alt="Responsive image">
            <div class="form-group ">
                {% for error in form.image.errors %}
                <div>
                    <span class="text-danger"> {{error}} </span>
                </div>
                {% endfor %}
                {{form.image}}

            </div>

            <h2 class="pb-2 my-4 mx-2 border-bottom">
                Nutritional Analysis
            </h2>
            {% comment %} Heavily controlled by JS (see add_meal.js) {% endcomment %}
            <div id="no_analysis_message">
                No analysis performed.
            </div>

            {% comment %} Display error from request {% endcomment %}
            <div id="analysis_error" class="text-danger">

            </div>

            <div id="nutrition_table">
                {% include 'macro_mate/nutrition_table.html' with table_title="Nutritional Analysis" calories_quantity="4" calories_unit="kcal" fat_quantity="3000" fat_unit="g" protein_quantity="3000" protein_unit="g" carbs_quantity="3402" carbs_unit="g"%}
            </div>

        </div>

    </div>

    {% comment %} Buttons for form - Again, heavily reliant on JS {% endcomment %}
    <div class="row my-4">
        <button name="analyse" id="analyse" class="btn btn-lg btn-block btn-success mr-2 ml-auto" type="button"
            value="Analyse">
            <i class="fa fa-refresh" aria-hidden="true"></i> Analyse </button>

        <input id="submit" class="btn btn-lg btn-block btn-primary" type="submit" name="submit" value="Add Meal" />
    </div>

</form>

{% endblock %}