{% extends 'macro_mate/base.html' %}
{% load staticfiles %}

{% block title_block %}
Home
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">MacroMate</h1>
        <div>
            <h2 class="h2">
                Focus on Food, Fuel your Fitness!
            </h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <blockquote class="blockquote">
                        <p>"I was only half the man I was today without MacroMate. It filled the hole where my ex-wife
                            used to be for sure."</p>
                        <footer class="card-blockquote"><cite title="Source title">Sebastian Romero</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-6">
                <div class="card">
                    <div class="card-body">
                        <blockquote class="blockquote">
                            <p>"Oh great spirit, truly we are blessed...My Keto and yoga fusion has never felt as zen!"
                            </p>
                            <footer class="card-blockquote"><cite title="Source title">Julia Saari</cite>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}